$header-background-color:#02160b;
$main-background-color: #CCCCCC;

$inner-font-color: #F7F7F7;
$main-title-font-color: #333333;
$main-text-font-color: #666666;

$font-family: OpenSans;
$button-font-family: Roboto;

$button-color:#CD6326;
$button-hover-color:#E6902B;
$button-pressed-color:#8F5613;

