@import "constants.scss";

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1260px;
}

.background-wrapper {
  width: 100%;
  background: $header-background-color;
}

.survival {
  margin: 0 auto;
  width: 1440px;
  height: 779px;
  background-image: url(../assets/images/background-image.png);
}

.header {
  padding-top:25px;
  display: flex;
  justify-content: space-between;

  &__navigation {
    color:$inner-font-color;
  }
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;

  &__link {
    padding-left: 33px;
    padding-right:33px;
    font-size: 23px;
    font-weight: bolder;
    font-family: $font-family;

    a {
      text-decoration: none;
      color: $inner-font-color;
    }

    a:hover {
      color: $button-hover-color;
      transition-duration: 0.5s;
    }

    button {
      all: unset;
      border: 2px solid $button-color;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 6px 24px;
    }

    button:hover {
      border: 2px solid $button-hover-color;
      background-color: $button-hover-color;
      transition-duration: 0.5s;
    }

    button:active {
      border: 2px solid $button-pressed-color;
      background-color: $button-pressed-color;
      transition-duration: 0.5s;
    }
  }
}

.logo {
  display: flex;

  &__item {
    padding-left: 15px;
    font-family: $button-font-family;
    font-size: 32px;
    line-height: 60px;

    a {
      color: $inner-font-color;
      text-decoration: none;
    }
  }
}

.article {
  margin: 100px 35px;
  font-family: $font-family;
  &__title {
    margin-bottom:50px;
    color: $button-color;
    font-size:48px;
    letter-spacing: 3px;

  }
  &__text {
    margin-bottom:48px;
    max-width: 270px;
    font-size:18px;
    color: $inner-font-color;
    line-height:27px;
  }

  button {
    all: unset;
    padding:16px 42px;
    background: $button-color;
    border-radius: 5px;
    font-family: $button-font-family;
    font-size: 23px;
    color: $inner-font-color;
  }

  button:hover {
    background-color: $button-hover-color;
    transition-duration: 0.5s;
  }

  button:active {
    background-color: $button-pressed-color;
    transition-duration: 0.5s;
  }
}

.footer {
  margin:0 auto;
  width: 1440px;
  height: 359px;
  background-image: url(../assets/images/footer-background-image.jpg);
}

.footer-navigation {
  height: 359px;
  display:flex;
  align-items: center;
  justify-content:space-around;
}

.footer-logo {
  padding-top: 20px;

}

.icons {
  display:flex;
}

.icon {
  margin:14px;
  width: 40px;
  height: 40px;
  background: $inner-font-color;
  border-radius: 20px;
  display:flex;
  align-items:center;
  justify-content:center;

  .icon__image {
    background-position: center center;
  }

  .facebook {
    width:15px;
    height:27px;
    background-image: url('../assets/icons/facebook.svg');
  }

  .instagram {
    width:30px;
    height:30px;
    background-image: url('../assets/icons/Instagram.svg');
  }

  .pinterest {
    width:20px;
    height:25px;
    background-image: url('../assets/icons/pinterest.svg');
  }

  .telegram {
    width:25.5px;
    height:22.5px;
    background-image: url('../assets/icons/telegram.svg');
  }

  &:hover {
    background: $button-hover-color;
  }
}
