@import "constants.scss";

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1260px;
}

.background-wrapper {
  height: 780px;
  width: 100%;
  background: $header-background-color;
}

.survival {
  margin: 0 auto;
  width: 1440px;
  height: 779px;
  background-image: url(../assets/images/background-image.png);
}

.header {
  display: flex;
  justify-content: space-between;

  &__navigation {
    color:$inner-font-color;
  }
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;

  &__link {
    padding: 28px  32px;
    font-size: 23px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;

    a {
      text-decoration: none;
      color: $inner-font-color;
    }

    a:hover {
      color: $button-hover-color;
      transition-duration: 0.5s;
    }

    button {
      all: unset;
      border: 2px solid $button-color;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 6px 24px;
    }

    button:hover {
      border: 2px solid $button-hover-color;
      background-color: $button-hover-color;
      transition-duration: 0.5s;
    }

    button:active {
      border: 2px solid $button-pressed-color;
      background-color: $button-pressed-color;
      transition-duration: 0.5s;
    }
  }
}

.logo {
  margin: 25px;
  display: flex;

  &__item {
    padding-left: 15px;
    font-family: Roboto;
    font-size: 32px;
    line-height: 60px;

    a {
      color: $inner-font-color;
      text-decoration: none;
    }
  }
}

.article {
  &article__title {

  }
  &article__text {
    max-width: 280px;
    height: 400px;
  }

  button {
    all: unset;
  }
}
